{%extends "simple_layout.html"%}

{% block title %} {{title}} {% endblock title%}
{% block header%} {{header}} {% endblock header %}

{% block content %}
<h2>question</h2>

<form action = "" method = "post">
   

    <input type="radio" name="lname" value="">
    <label for="1">11</label>
    <br>
    <input type="radio" name="lname" value="">
    <label for="2">22</label>
    <br>
    <input type="radio" name="lname" value="">
    <label for="3">33</label>
    <br>
    <input type="radio" name="lname" value="">
    <label for="4">44</label>
  <br>
  <br>
  <input type="submit" name="next_button" value="Next">
</form> 

{% endblock content %}