{% extends "simple_layout.html" %}

{% block title %} {{ title }} {% endblock title %}
{% block header %} {{ header }} {% endblock header %}

{% block content %}
<form action="" method="post">
    {% for i in range(10) %}
    <h2>{{ quiz_text["questions"][i]["question"] }}</h2>
    <input type="radio" name="answer" value="A">
    <label for="1">{{ quiz_text["questions"][i]["A"] }}</label>
    <br>
    <input type="radio" name="answer" value="B">
    <label for="2">{{ quiz_text["questions"][i]["B"] }}</label>
    <br>
    <input type="radio" name="answer" value="C">
    <label for="3">{{ quiz_text["questions"][i]["C"] }}</label>
    <br>
    <input type="radio" name="answer" value="D">
    <label for="4">{{ quiz_text["questions"][i]["D"] }}</label>
    <br>
    <br>
    {% endfor %}
    <input type="submit" name="next_button" value="Next">
</form>
{% endblock content %}