{%extends "simple_layout.html"%}

{% block title %} {{title}} {% endblock title%}
{% block header%} {{header}} {% endblock header %}

{% block content %}
<h2>Quiz scrible</h2>

<form action = "" method = "post">
   

  <label for="fname"> Add Youtube link</label><br>
  <input type="text" id="Youtube_id" name="Youtube_id" value=""><br>
  <br>
  <br>
  <label for="fav_n"> Add Your favorite number</label><br>
  <input type="text" id="fav_num" name="fav_num" value=""><br>
 
  <br>
  <br>
  <input type="submit" name="next_button" value="Create Quiz">
</form> 


    

{% endblock content %}