{%extends "simple_layout.html"%}

{% block title %} {{title}} {% endblock title%}
{% block header%} {{header}} {% endblock header %}

{% block content %}
<h2>HTML Forms</h2>

<form action = "" method = "post">
   

  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">Last name:</label><br>
  <input type="radio" name="lname" value="">
  <label for="contactChoice3">Mail</label>
  <br>
  <br>
  <input type="submit" name="next_button" value="Next">
</form> 


    
<p>If you click the "Submit" button, the form-data will be sent to a quiz page".</p>
{% endblock content %}