<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
 <style>

h1 {
    margin-bottom: 10px;
    margin-left: 700px;
    font-size: 2em;
    color: #109b17;
}
</style>
<body>
    <header>
        <h1>{% block header %}{% endblock %}</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- <input type="submit" value="Submit"> -->
</body>
</html>